
body{
  background-color: rgb(255, 242, 242);
  margin-top: 5.25rem;
  font-family: 'Work sans', sans-serif;
  font-size: 14px;
}

.container{
  display: flex;
}

h1 {
  font-weight: bold;
  font-size: 2.5rem;
  color: rgb(32, 64, 86);
  margin-bottom: 20px;
}

h4 {
  font-size: 1rem;
  font-weight: bold;
  color: rgb(32, 64, 86);
  margin-bottom: 20px;
}

p {
  color: rgb (74, 74, 74);
  margin-bottom: 20px;
}

.card {
  display: inline-block;
  height: 12.5rem;
  width: 12.5rem;
  background-color: rgb(32, 64, 86);
  border: 4px solid #ffffff;
  border-radius: 8px;
  font-weight: 900;
  font-size: 7rem;
  color: rgb(153, 153, 153);
  cursor: pointer;
}
